@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit&family=Poppins&family=Roboto+Mono&display=swap");

.conteudo-img {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  max-height: 445px;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.tituPara > label {
  font-size: 14px;
  color: green;
  font-weight: bold;
}

.conteudo-img label {
  font-size: 0.8rem;
  color: gray;
}

.conteudo-img p {
  font-size: 1rem;
}

.assunto {
  display: grid;
  grid-template-columns: 822px auto;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
}
.container {
  padding-left: 61px;
  padding-top: 25px;
  min-height: 100vh;
  margin-bottom: 50px;
}
.noticias-pequenas img {
  min-width: 131px;
  max-width: 131px;
  min-height: 92px;
  max-height: 92px;
}
.noticias-pequenas {
  display: flex;
  margin-top: 15px;
}

.noticias-pequenas p {
  font-size: 0.8rem;
}
.noticias-pequenas h3 {
  font-size: 0.9rem;
}
.titulo-conteudo {
  margin-left: 50px;
  padding-right: 50px;
}
.tituPara {
  width: 100%;
  margin-left: 15px;
}
